@import url('./libs/reset.css');
@import url('./libs/fonts.css');
@import url('./libs/custom-properties.css');
@import url('./libs/general-styles.css');
@import url('./libs/utility-classes.css');
@import url('./libs/compontents.css');


/* ------------------- */
/* SECTIONS         */
/* ------------------- */
/*-------- Nav */



/*-------- Home */

.home{
      display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid var(--primary);
    max-width: 330px;
}

@media (min-width: 992px) {
    .home-container {
        gap: 0rem;
        padding: 2rem 4rem 4rem;
    }
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem 0rem;
}

.home-container .social-media a svg {
    width: 2rem;
}


/*-------- Sobre mí */

.about-me{
  text-align: center;
}

.knowledge-card{
  justify-content: space-between;
}

 .skills-items{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.skills-items svg{
  width: 80px;
  fill: var(--primary);
}

.knowledge-card{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



.knowledge-card .card{
    flex: 0 0 100%;
}

@media (min-width: 992px) {
    .skills-items {
        flex-direction: row;
        gap: 0;
    }
    .knowledge-card .card{

  flex: 0 0 30%;
}
}




/*-------- Experiencia */


/*-------- Formación */


/*-------- Cursos */


/*-------- Contacto */


/*-------- footer */
