@use './variables' as vars;

/*-------- Base styles --------*/
html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 992px) {
    font-size: 18px;
  }
}

body {
  font-family: vars.$font-primary;
  color: vars.$light;
  background-color: vars.$white;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: vars.$link-color-hsl;
  text-decoration: underline;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    color: hsl(vars.$link-hue, vars.$link-saturation, vars.$link-hover-lightness);
  }

  &:visited {
    color: hsl(vars.$link-hue, vars.$link-saturation, vars.$link-visited-lightness);
  }

  &:active {
    color: hsl(vars.$link-hue, vars.$link-saturation, vars.$link-active-lightness);
  }
}

img,
picture {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

*:focus-visible {
  outline: 0.16rem solid vars.$primary;
  outline-offset: 0.3125rem;
}