@use './variables' as vars;

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0.9375rem;
  width: 100%;

  @each $breakpoint, $width in vars.$container-max-widths {
    @media (min-width: map-get(vars.$breakpoints, $breakpoint)) {
      max-width: $width;
    }
  }
}
