.modal {
  align-items: center;
  background-color: hsl(var(--dark-hsl) / 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 1s;
  z-index: 999;
}

.modal#thanks:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal-close svg {
  fill: var(--first-color);
  height: 3rem;
  width: 3rem;
}