@use './variables' as vars;

.section-title {
  text-align: center;
  padding: 1.875rem 0;
  position: relative;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem;
    padding-bottom: 0;
    color: vars.$dark;
    position: relative;
    z-index: 2;
  }

  span {
    position: absolute;
    top: 1.875rem;
    color: hsla(vars.$dark-hue, vars.$dark-saturation, vars.$dark-lightness, 0.1);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;
    line-height: 0;

    @media (min-width: 992px) {
      font-size: 3.25rem;
    }
  }
}

.section-title-dark {
  @extend .section-title;

  h2 {
    color: vars.$white;
  }

  span {
    color: hsla(vars.$light-hue, vars.$light-saturation, vars.$light-lightness, 0.1);
  }
}