@use './variables' as vars;

/*-------- Social styles --------*/
.social-media {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: vars.$dark;
      width: 1.2rem;

      &:hover {
        fill: vars.$primary;
      }
    }
  }
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 1rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: vars.$white;
      width: 1rem;

      &:hover {
        fill: vars.$primary;
      }
    }
  }
}