@use './variables' as vars;

h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: vars.$dark; /* Utilizando variable de color sin prefijo */
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}