/* Variables de colores */
$primary: #ffb727;
$secondary: #fff4df;
$dark: #1D1D1D;
$light: #222222;
$black: #000000;
$white: #ffffff;

/* Variables de colores en RGBA */
// $primary: rgba(255, 183, 39, 1); // #ffb727
// $secondary: rgba(255, 244, 223, 1); // #fff4df
// $dark: rgba(29, 29, 29, 1); // #1D1D1D
// $light: rgba(34, 34, 34, 1); // #222222
// $black: rgba(0, 0, 0, 1); // #000000
// $white: rgba(255, 255, 255, 1); // #ffffff


/* Tamaños de fuente */
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2.5rem;

/* Familias de fuentes */
$font-primary: 'BeVietnamPro', Arial, sans-serif;

/* Colores en HSL */
$primary-hue: 40;
$primary-saturation: 100%;
$primary-lightness: 58%;

$secondary-hue: 39.375;
$secondary-saturation: 100%;
$secondary-lightness: 94%;

$dark-hue: 0;
$dark-saturation: 0%;
$dark-lightness: 11%;

$light-hue: 0;
$light-saturation: 0%;
$light-lightness: 95%;

$black-hue: 0;
$black-saturation: 0%;
$black-lightness: 0%;

$white-hue: 0;
$white-saturation: 0%;
$white-lightness: 100%;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px
);

