/* Variables de colores */
$primary: #ffb727; // rgba(255, 183, 39, 1)
$secondary: #fff4df;// rgba(255, 244, 223, 1)
$dark: #1C1C1C; // rgba(29, 29, 29, 1)
$light: #3F3F3F; // rgba(34, 34, 34, 1)
$gray-light: #FAFAFA;
$black: #000000; // rgba(0, 0, 0, 1)
$white: #ffffff; // rgba(255, 255, 255, 1)
$link-color: #663300;

/* Variables de colores en HSL */
$primary-hsl: hsl(40, 100%, 58%);
$secondary-hsl: hsl(39.375, 100%, 94%);
$dark-hsl: hsl(0, 0%, 11%);
$light-hsl: hsl(0, 0%, 13%);
$black-hsl: hsl(0, 0%, 0%);
$white-hsl: hsl(0, 0%, 100%);
$link-color-hsl: hsl(30, 100%, 20%);

/* Colores en HSL */
$primary-hue: 40;
$primary-saturation: 100%;
$primary-lightness: 58%;

$secondary-hue: 39.375;
$secondary-saturation: 100%;
$secondary-lightness: 94%;

$dark-hue: 0;
$dark-saturation: 0%;
$dark-lightness: 11%;

$light-hue: 0;
$light-saturation: 0%;
$light-lightness: 95%;

$black-hue: 0;
$black-saturation: 0%;
$black-lightness: 0%;

$white-hue: 0;
$white-saturation: 0%;
$white-lightness: 100%;

/* Variables de color para enlaces */
$link-hue: 30;
$link-saturation: 100%;
$link-lightness: 20%;

$link-color-hsl: hsl($link-hue, $link-saturation, $link-lightness);
$link-hover-lightness: 30%;
$link-visited-lightness: 25%;
$link-active-lightness: 15%;

/* Tamaños de fuente */
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2.5rem;

/* Familias de fuentes */
$font-primary: 'BeVietnamPro', Arial, sans-serif;

/* Variables de espaciado */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px
);