// scss/sections/_about-me.scss

@use '../abstracts/variables' as vars;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

.about-me {
  background-color: fn.get-background-color('deep-dark');
  background-color: #eff3ff;
  background-image: url('../img/bg/gemini-svg (4).svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  .container {
    h3 {
      text-align: center;
    }
    .tech-skills {
      .tech-skills-card {
        @include mx.apply-flex-container(
          $direction: row,
          $justify: space-between,
          $gap: fn.get-spacing(md)
        );
        flex-wrap: wrap;
        .card {
          text-align: center;
        }

        @media (min-width: fn.get-breakpoint(lg)) {
          // Conectado a tus 992px globales
          flex-wrap: nowrap;
        }
      }
    }

    .soft-skills {
      .soft-skills-items {
        // Flexbox en columna por defecto para móviles
        @include mx.apply-flex-container(column, space-evenly, center, fn.get-spacing(lg));
        flex-wrap: wrap;

        div {
          @include mx.apply-flex-container(column, center, center, fn.get-spacing(xs));
        }

        @media (min-width: fn.get-breakpoint(lg)) {
          flex-direction: row;
          gap: 0;
        }
      }
    }
  }
}
