@use '../variables' as vars;

.about-me {
  .container {
    .tech-skills {
      .tech-skills-card {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (min-width: 768px) {
          flex-wrap: nowrap;
        }
      }
    }

    .soft-skills {
      .soft-skills-items {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 992px) {
          flex-direction: row;
          gap: 0;
        }
      }
    }
  }
}
