@use '../variables' as vars;

.home {
  .container {
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
      text-align: left;
    }

    .home-img {
      border-radius: 50%;
      overflow: hidden;
      max-width: 330px;
      @media (min-width: 768px) {
        flex: 0 0 calc(30% - 1rem);
      }
    }
    
    .home-text {
      @media (min-width: 768px) {
        flex: 0 0 calc(70% - 1rem);
      }
      h1{
        font-size: vars.$font-xxl;
      }
      .social-list {
          a {
            border-radius: 50%;
            border: 2px solid vars.$primary;
            overflow: hidden;
            padding: 0.3rem;
            width: 3.125rem;
            height: 3.125rem;
            svg{
              width: 1.5rem;
              height: 1.5rem;
            }
          }
          @media (min-width: 768px) {
            justify-content: left;
          }
      }
      .btn:hover {
        background-color: vars.$light;
        color: vars.$white;
      }
    }
  }
}