// scss/sections/_home.scss

@use '../abstracts/variables' as vars;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

.home {
  background-color: fn.get-background-color('deep-dark');
  background-image: url('../img/home-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  color: fn.get-color(utility, white);
  display: flex;
  .container {
    @include mx.apply-flex-container(
      row,
      center,
      center,
      fn.get-spacing(lg)
    ); // Flexbox con tu gap de 2rem
    flex-wrap: wrap;
    text-align: center;

    @media (min-width: fn.get-breakpoint(lg)) {
      // Conectado a tus 992px globales
      flex-wrap: nowrap;
      text-align: left;
    }

    .home-img {
      @include mx.apply-border-radius(50%);
      overflow: hidden;
      max-width: 330px;
      width: 100%;

      @media (min-width: fn.get-breakpoint(lg)) {
        flex: 0 0 calc(30% - 1rem);
      }
    }

    .home-text {
      @media (min-width: fn.get-breakpoint(lg)) {
        flex: 0 0 calc(70% - 1rem);
        @include mx.apply-flex-container($direction: column, $gap: fn.get-spacing(md));
      }

      .social-list {
        a {
          @include mx.apply-border-radius(50%);
          @include mx.apply-border(2px, solid, primary, default);
          overflow: hidden;
          padding: 0.3rem;
          width: 3.125rem;
          height: 3.125rem;

          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        @media (min-width: fn.get-breakpoint(lg)) {
          justify-content: flex-start;
        }
      }
    }
  }
}
