// scss/sections/_projects.scss

@use '../abstracts/variables' as vars;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

.projects {
  background-color: fn.get-color(bg-emphasis);
  min-height: 100vh;
  width: 100%;
}
