@use '../variables' as vars;

.projects {
  .container {
    .mb-2 {
      h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

      .knowledge-card {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (min-width: 768px) {
          flex-wrap: nowrap; 
        }

        .card {
          h4 {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
          }

          p {
            line-height: 1.5;
          }
        }
      }
    }

    > div:last-child {
      h3 {
        font-size: 1.25rem;
        margin-top: 2rem;
      }

      p {
        line-height: 1.6;
        margin-bottom: 1rem;
      }


    }
  }

  @media (min-width: 992px) {
    .container {

      .skills-items {
        flex-direction: row;
        gap: 0;
      }
    }
  }
}
