// scss/sections/_experience.scss

@use '../abstracts/variables' as vars;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

.experience {
  background-color: fn.get-color(bg-surface);
  min-height: 100vh;
  width: 100%;

  // Viñetas en las tareas de cada experiencia
  .card ul {
    list-style: disc;
    margin-left: 1.5rem;
  }
}
