@use '../variables' as vars;

/*-------- BUTTONS --------*/
.btn {
  background-color: vars.$primary;
  border: 2px solid vars.$primary;
  border-radius: 4rem;
  color: vars.$dark;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8125rem 1.25rem 0.5625rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  width: 11.625rem;

  &:hover {
    background-color: vars.$gray-light;
    color: vars.$dark;
    text-decoration: none;
  }
}

.btn-small {
  // font-size: 0.875rem; /* Tamaño de fuente más pequeño */
  padding: 0.5rem 1rem 0.375rem; /* Padding más pequeño */
  width: 8rem; /* Ancho más pequeño */
}