// scss/components/_buttons.scss

@use '../abstracts/variables' as vars;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

/*-------- BUTTONS --------*/
a.btn,
button.btn {
  @include mx.apply-color(background-color, primary, default);
  @include mx.apply-color(color, neutral, 'dark-300');
  @include mx.apply-border(2px, solid, primary, default);
  @include mx.apply-border-radius(4rem);
  cursor: pointer;
  display: inline-block;
  font-size: fn.get-font-size(base);
  font-weight: 600;
  padding: 0.8125rem 1.25rem 0.5625rem;
  text-align: center;
  text-decoration: none;
  width: 11.625rem;

  @include mx.apply-transition(color, 0.2s);

  // 1. EL ESTADO VISITED VA PRIMERO
  &:visited {
    @include mx.apply-color(background-color, primary, default);
    @include mx.apply-color(color, neutral, 'dark-300');
    @include mx.apply-border(2px, solid, primary, default);
  }

  // 2. EL HOVER VA DESPUÉS (Gana prioridad en cascada al pasar el cursor)
  &:hover {
    text-decoration: none;
    @include mx.apply-color(background-color, primary, bright);
    @include mx.apply-color(color, neutral, 'dark-300');
    @include mx.apply-border(2px, solid, primary, bright);
  }

  // 3. EL ACTIVE VA AL FINAL (Se aplica exactamente al hacer click)
  &:active {
    @include mx.apply-color(background-color, primary, bright);
    @include mx.apply-color(color, neutral, 'dark-300');
    @include mx.apply-border(2px, solid, primary, bright);
  }
}

.btn-small {
  font-size: fn.get-font-size(sm);
  padding: 0.5rem 1rem 0.375rem;
  width: 8rem;
}
