@use '../variables' as vars;

/*-------- BUTTONS --------*/
.btn {
  background-color: vars.$primary;
  border: 2px solid vars.$primary;
  border-radius: 4rem;
  color: vars.$dark;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.8125rem 1.25rem 0.5625rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  width: 186px;

  &:hover {
    background-color: vars.$white;
    color: vars.$dark;
  }
}