// base/_typography.scss

@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

body {
  @include apply-font-family(primary);
  font-size: get-font-size(base);
  line-height: get-line-height(base);
}

h1 {
  @include apply-typography('5xl', 'sm', 700, 'sm');
  font-size: clamp(2.125rem, 1.6rem + 2.2vw, get-font-size('5xl'));
}

h2 {
  @include apply-typography('4xl', 'sm', 600, 'md');
  font-size: clamp(1.625rem, 1.3rem + 1.4vw, get-font-size('4xl'));
}

h3 {
  @include apply-typography('3xl', 'sm', 600, 'md', text-default);
}

h4:not(:last-child) {
  // Corregimos la estructura para que busque dentro del mapa 'neutral'
  @include apply-typography('base', 'sm', 600, 'sm', text-default);
}

h5 {
  @include apply-typography('xl', 'base', 500, 'md', text-default);
}

h6 {
  @include apply-typography('lg', 'base', 500, 'md', text-default);
}

p:not(:last-child) {
  @include apply-typography('base', 'base', 400, 'md', text-body);
}

small {
  @include apply-typography('sm', 'base', 400, 'sm');
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  font-size: get-font-size('lg');
  line-height: get-line-height('lg');
  margin: get-spacing('md') 0;
  padding: get-spacing('md');
}

code,
pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: get-font-size(sm);
  padding: get-spacing(xs);
  border-radius: 4px;
}

pre {
  overflow-x: auto;
}

a {
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
